html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  font-family: Times, serif;
}

h1 {
  font-family: Times, serif;
}

.navbar {
  display: flex;
  background-color: #fff;
  overflow: hidden;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  height: 100px;
  padding: 0 50px;
}

.brand-title {
  color: #000;
  font-family: Times, serif;
  font-size: 36px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  padding: 0 30px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.nav-links a:hover {
  color: #555;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: calc(100vh - 100px);
  background-image: url("assets/background.png"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  color: #fff; /* Adjust text color as needed */
  justify-content: center;
  padding-left: 50px;
}

#home h1 {
  font-size: 80px;
  margin: 0;
}

#home p {
  font-size: 36px;
  margin: 0;
}

#team {
  /* Center items */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#team h1 {
  margin: 40px 0px;
  font-size: 40px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Adjusted for even spacing */
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 60px;
  width: 100%; /* Ensure it takes the full width */
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.team-member .profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h2 {
  font-size: 24px;
  margin: 10px 0px 0px 0;
}

.team-member p {
  text-align: center;
  font-size: 16px;
}

.icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.home-button {
  background-color: #895ED4;
  width: 200px;
  color: #FFFFFF; /* White Text */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 5px; /* Rounded Corners */
  transition: background-color 0.3s ease; /* Smooth Transition for Hover */
}
.button:hover {
  background-color: #003366; /* Slightly Darker Shade for Hover Effect */
}

#about {
  margin: auto;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.feature-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.feature-section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 20px;
}

.feature-text {
  flex-basis: 70%; /* Takes up half the width of the parent container */
}


.feature-image {
  flex-basis: 30%;
}

.feature-image-container {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.feature-image-container img {
  width: 80%; /* Makes the image take up 50% of the container's width */
  height: auto; /* Maintains the image's aspect ratio */
}

.feature-text-container {
  width: 75%;
  justify-content: center; 
  align-items: center; 
}

.feature-text-container h2 {
  font-size: 2.5em;
}

.feature-text-container p {
  font-size: 1.3em;
}

/*Roboto
Open Sans
Lato
Montserrat
Raleway
Poppins
Playfair Display
Avenir Next
Futura
Gotham
Helvetica Neue
Brandon Grotesque
Nunito
Oswald
Merriweather
Baskerville
Vogue
Didot
Bodoni
Proxima Nova
Garamond
Josefin Sans
Quicksand
Sofia
Pacifico
Bebas Neue
Abril Fatface
Libre Baskerville
Cormorant
Spectral
*/